*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.bg{
	background-image: url("../img/fondo.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

#publicar{
	border: 1px solid #424242;
	background-color: #424242;
	color: #fff;
}

.cajaTweet{
	background-color: #848484;
	padding: 5px;
	font-size: 17px;
	color: #FFF;
	margin-bottom: 5px;
	border-radius: 5px;
}

.colorMarron {
	color: brown;
	font-weight: bold;
}

.colorVerde {
	color: green;
	font-weight: bold;
}

.colorNegro {
	color: black;
	font-weight: bold;
}